

*{
  padding: 0;
  margin: 0;
}
body h1 h2 h3 h4 h5 h6 span p {
  font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.container{
  background: rgba(241, 233, 234, 0.89);
  width: 1366px;
  height: 764px;
}
.container header{
  text-align: center;

}
.container header h3{
  font-weight: 700;
  font-size: 45px;
  line-height: 53px; 
  color: #131313;
  text-align: center; 

}
.container header nav{
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding-top: 64px;
}
.container nav ul{
  
 }
.container header nav ul li{
  display: inline;
 
}
.container header  ul li a{
text-decoration: none;
font-size: 18px;
font-weight: 500;
line-height: 26px;
padding: 10px 20px;
color: #424242;
text-align: center;




}

